# MacOS
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Kubernetes/RKA
**/kube_config_cluster.yml
**/rke_debug.log

# Terraform Generated
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.*.backup
**/*.tfstate.lock.info
**/*.zip

# Editor Generated
.*.swp
**/.vscode

# Debug Logs
**/*debug.log
